body{
  width: 80%;
}
p{
  background-color: orange;


  text-align: center;
  align-items: center;
  /* border: 2px solid black; */
  width: 100%;

  padding: 10px;
}

pre{
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: 700;
}
